*{
    box-sizing: border-box;
    font-family : Segoe Print;
    color : #777;
}
html,body{
    margin:0;
    padding:0;
    background-color: rgba(0,0,0,.7)
}
.nav u1{
    margin : 0;
}
.nav li{
    display : inline;
}
.nav a{
    display : inline-block;
    padding :-20em;
    color : white;
    text-decoration : none;
}
.main-nav{
    text-align:center;
    font-size: 1.1em;
    fontweight : lighter;
    border-bottom : 1px solid rgba(255,255,255,.3)
}
.main-nav li{
    padding : 5%
}

.nav a:hover{
    background-color : rgba(255,255,255,.5);
}
.main-header{
    background-color : rgba(0,0,0,.4);
    background-image : url("Picture/Bliss 2.jpg");
    background-blend-mode :multiply;
    background-size: cover;
    padding-bottom :30px;
}
.store-name{
    text-align:center;
    margin:0;
    font-size:4em;
    font-family :Edwardian Script ITC;
    font-weight:normal;
    color : white;

}
.store-name-large{
    font-size:6em;
}
.content-section{
    margin : 1em
}
.container{
    max-width:900px;
    margin : 0 auto;
    padding : 0 1.5em;
}
.about-store-image{
    float : left;
    height : 150px;
    width : 150px;
    margin : 15px;
    border-radius : 50%

}

.main-footer{
    background-color : rgba(82,134,84,.4);
    padding : .25em 0;
    margin-top : 25px
}
.main-footer-container{
    display: flex;
    align-items :center;
}
.main-footer-container ul {
    flex-grow : 1;
    text-align : end;
}
.btn{
    text-align : center;
    vertical-align : middle;
    padding : .67em;
    cursor : pointer;
}
.btn-header{
    font-family :Edwardian Script ITC;
    font-size : 30px;
    margin: .5em 15% 2em 15%;
    color : white;
    border : 2px solid rgba(82,134,84,.4);
    background-color : rgba(0,0,0,0.4);
}
.btn-header:hover{
    background-color : rgba(82,134,84,.4)
}
.content-section-row{
    border-bottom: 1.5px solid;
    padding-bottom: 1em;
    margin-bottom : 1em;
}
.content-section-row:last-child{
    border-bottom:none;
}
.store-item{
    display: inline-block;
     padding-right : .5em;
}
.store-new{
    font-weight:bold;
    width : 11%;
}
.store-material {
    width: 20%;
}
.store-button{
    color : white;
    max-width : 30%;
    background-color: rgba(82,134,84,.4);
    border :none;
    border-radius: .5em;
    align:center;
}
.store-button:hover {
    background-color : rgba(255,255,255,.5)
}
.content-section-title{
    font-family :Edwardian Script ITC;
    font-size: 50px;
    color :white
}
.store-item-name{
    display :block;
    font-family :Edwardian Script ITC;
    font-size: 50px;
    color :white;
    width : 100%;
    text-align:center;
    border-bottom: 2px solid white

}
.shop-item{
    margin:30px;
}
.shop-items{
    display:flex;
    flex-wrap : wrap;
    justify-content :space-around;

}
.shop-item-title{
    display :block;
    font-size: 25px;
    color :white;
    width : 100%;
    text-align:center;
    margin-bottom:15px
}
.shop-item-details{
    display:flex;
    align-items:center;
    padding : 5px;
}
.shop-item-image{
    height : 250px;
}
.shop-item-btn{
    display:flex;
    align : center;
}
.edit-content{
    margin-bottom :80px;
}
#developer-name{
    font-family : Chiller;
    font-size: 3em;
    color : white;
}